#!/bin/sh
xrandr --output DisplayPort-0 --off --output HDMI-A-0 --mode 1920x1080 --pos 3200x0 --rotate right --output DisplayPort-2 --mode 1280x1024 --rate 75.02 --pos 0x573 --rotate normal --output DisplayPort-1 --primary --mode 1920x1080 --rate 74.99 --pos 1280x517 --rotate normal --output DVI-D-0 --off
