#!/bin/sh
xrandr --output DisplayPort-0 --off --output DisplayPort-1 --primary --mode 1920x1080 --pos 1280x349 --rotate normal --output DisplayPort-2 --mode 1280x1024 --pos 0x448 --rotate normal --output HDMI-A-0 --mode 1920x1080 --pos 3200x0 --rotate right --output DVI-D-0 --off
