[Desktop Entry]
Type=Application
Name=Bottom
GenericName=Process Viewer
Icon=utilities-terminal
Exec=kitty sh -c "btm"
Keywords=Htop;top;viewer;task;manager
