configuration {
 modi: "drun";

 //TRITON  
 //font: "JetBrains Mono Bold 24";
 //END
 //NEPTUNE  
 //font: "JetBrains Mono Bold 12";
 //END       

 padding: 50;	
 separator-style: "none";
 hide-scrollbar: true;
 show-icons: false;
 }

@theme "~/.cache/wal/colors-rofi-dark.rasi"

element-text, element-icon {
    background-color: inherit;
    text-color:       inherit;
}
