[Desktop Entry]
Type=Application
Name= Remarkable
GenericName=eink Tablet
Exec=rmview
Terminal=false
Icon=accesories-text-editor
Categories=Office;Graphics;
StartupWMClass=remarkable

