[Desktop Entry]
Name= Jupyter
Exec=sh -c "jupyter notebook"
Terminal=false
Type=Application
Icon=jupyter-sq.png
Categories=GNOME;GTK;
StartupNotify=true

