[Unit]
Description=Sets the resoltuion of all virtual consoles to 1920x1080p.

[Service]
Type=simple
ExecStart="/usr/bin/fbset-1080"

[Install]
WantedBy=multi-user.target 

