[Desktop Entry]
Type=Application
Name= Remarkable
GenericName=Client for eink Tablet
Exec=/usr/bin/reMarkable
Terminal=false
Icon=accesories-text-editor
Categories=Office;Graphics;
StartupWMClass=remarkable

