[Desktop Entry]
Type=Application
Name=阮 Spotify (TUI)
GenericName=TUI Music Player
Icon=spotify-client
Exec=kitty sh -c "spotify-tui"
Categories=Audio;Music;Player;AudioVideo;
StartupWMClass=spotify-tui
